Source: netrunner-default-settings
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: netrunner-default-settings
Architecture: all
Recommends: default-artwork-aurorae-themes,
            default-settings-applications,
            default-settings-desktop,
            default-settings-e2fsprogs,
            default-settings-kdeapps,
            default-settings-plasma,
            default-settings-profiled,
            default-settings-thunderbird,
            default-settings-xsession,
            default-settings-session-debug,
            default-systemsettings-settings,
            netrunner-plasma5-panels,
            netrunner-settings-autostart,
            netrunner-settings-desktop,
            netrunner-settings-firefox,
            netrunner-settings-grub,
            netrunner-settings-kcmabout,
            netrunner-settings-sddm,
            netrunner-settings-theming
Description: Metapackage for Netrunner Default Settings
  This metapackage provides the default settings for Netrunner.
